<% include ./partials/header %>

        <div class="container big-box">
            
            <div id="inputbx">
                <p id="note">For optional view, uncomment code in /routes/index.js, line 45 to see .html solution using result box below. Github link: https://github.com/davisec52/API-3-shorturl. Otherwise, result returns as JSON object.</p>
                <div id="short-result"> </div>
                <form action="/post" method="POST">
                    <input type="text" id="short" name="urlToShorten" placeholder="http://your-url-here.com"></input>
                    <input type="submit" id="submit-url" class="postUrl" value="Submit"></input>
                </form>
            </div>
        </div>
    </body>
</html>
